.CMCheckbox
	position: relative;
	margin: 0 10px 10px 10px;
	cursor: pointer;
	height: 40px;
	border: 2px solid $color.main;
	display: flex;
	align-items: center;
	&:hover
		background-color: alpha($color.main, 0.1);
	.CMCheckbox-control
		margin-left: 10px;
		margin-right: 10px;
