.CMLoader
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $color.white;
	background-repeat: no-repeat;
	background-position: center;
	background-image: $icon.loader;
	opacity: 0.8;
