.EditContactModal
	background: $color.white;
	border: 1px solid $color.main;
	.EditContactModal-buttons
		display: flex;
		justify-content: space-between;
		margin: 10px;
	.EditContactModal-save-button
		width: calc((100% - 10px) / 2);
		margin-right: 10px;
	.EditContactModal-delete-button
		width: calc((100% - 10px) / 2);
